body{
    margin: 0;
    background: fixed;

}
#showcase iframe{
    height: 20%;
    width: 100%;
    padding-bottom: 0%;
    margin-bottom: 0%;
    border-top: none;
    border-right: none;
    border-left: none;
    
}

#section-a iframe{
    height: 73%;
    width: 30%;
    align: left;
    position: absolute;
    right: 70%;
    border-top: none;
    border-bottom: none;
    border-left: none;



    
}
#section-b iframe{
    height: 80%;
    width: 70%;
    align: right;
    position: absolute;
    left: 30%;
    border-top: none;
    border-bottom: none;
    border-right: none;
    
}